img {
    display: block;
    max-width: 150px;
    height: auto;
}

body {
    background-color: ivory;
}
.btn-primary {
    color: darkorange;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child {
    background-color: #dddddd;
}