img {
    display: block;
    max-width: 150px;
    height: auto;
}

body {
    background-color: #05030C;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child {
    background-color: #dddddd;
}
.nav-link, .btn, .btn-primary {
    color: #FFAAAA;
    background-color: #261758;
    border-color: black; /set the color you want here/
}
